.App {
  text-align: center;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid black;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
.input {
  margin-bottom: 10px;
}
